*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--green2);
}

html{
    scroll-behavior: smooth;
}

/* variables */
:root{
    --white : white;
    --green1 : #1b4332;
    --green2 : #CBE4DE;
    --green3 : #52B788;
    --green4 : #081C15;
    --green5 : #144534;
    --black : black;
}


/* typography */
html{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit; 
}

.nav-item:first-child {
    font-size: 1.5rem;
    color: var(--white);
}

.logo{
    font-weight: bold;
}

.nav-item:last-child{
    font-size: 1.2rem;
}

.nav-item:last-child a:hover{
    font-weight: 600;
    text-decoration: underline;
}  

.judul-utama{
    color: var(--green4);
}

.jumbotron h1{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

.perkenalan .deskripsi {
    color: var(--white);
}

.perkenalan .deskripsi{
    font-size: 1.25rem;
}

.perkenalan .deskripsi br{
    margin-bottom: 20px;
}

.karya h1{
    font-size: 2rem;
    text-align: center;
}

.karya h4:hover{
    color: var(--green3);
    text-decoration: underline;
}

.daftar h1{
    font-size: 1.5rem;
    color: var(--green4);
}

.daftar a{
    font-weight: bold;
    font-size: 1.75rem;
    background-color: var(--green3);
    padding: 10px 30px;
    color: var(--white);
    border-radius: 15px;
}

.daftar a:hover{
    background-color: color-mix(in srgb, var(--green3) 70%, var(--white) 30%);
}

footer{
    color: var(--green2);
}

footer .medsos i{
    font-size: 2rem;
    transition: color ease 1s;
}

footer .medsos i:hover{
    color: var(--green3);
}

@media only screen and (max-width: 767px) {
    .jumbotron h1{
        font-size: 2rem;
    }
    .nav-item:first-child{
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .jumbotron h1{
        font-size: 2.5rem;
    }
}


/* header */
.nav-item:first-child img {
    width: 7vw;
    max-width: 100px;
}    

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vh;
    max-width: 1500px;
    margin: 0 auto;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item:last-child{
    display: flex;
    gap: 7vw;
}

@media only screen and (max-width: 767px) {
    .nav-item:last-child{
        display: none;
    }
    
    .nav-item:first-child img {
        width: 20vw;
    } 

    header{
        justify-content: center;
    }
    
    .nav-item:first-child{
        width: 60%;
        text-align: center;
    }
}




/* jumbotron */
.jumbotron{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    height: 90vh;
    padding-bottom: 10vh;
    box-sizing: border-box;
}

.jumbotron > img{
    width: 20vw;
}

.jumbotron h1{
    margin-bottom: 10px;
    text-align: center;
}

.jumbotron h3{
    font-weight: normal;
    text-align: center;
}

.jumbotron .background{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--green2);
    z-index: -100;

    overflow: hidden;width: 100vw;height: 100vh;
}

.jumbotron .background img{
    height: max(100vh, 100vw*394/700);
    width: auto;
    opacity: 0.5;
    z-index: 2;
}

.jumbotron .filter{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--green5);
    filter: saturate(5);
    opacity: 0.2;
    z-index: 3;
}

@media only screen and (max-width: 767px) {
    .jumbotron{
        flex-direction: column;
        box-sizing: content-box;
    }

    .jumbotron > img{
        width: 60vw;
        max-width: 250px;
    }

    .jumbotron .judul {
        padding-bottom: 20vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .jumbotron{
        height: 100vh;
    }

    .jumbotron > img{
        width: 30vw;
    }
}

/* perkenalan */
.perkenalan-wrapper{
    position: relative;
    z-index: 5;
}

.wave-1 {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-200px);
}

.wave-1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.wave-1 .shape-fill {
    fill: #1B4332A8;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave-1 svg {
        width: calc(100% + 1.3px);
        height: 173px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave-1 svg {
        width: calc(100% + 1.3px);
        height: 80px;
    }
}

.wave-2 {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg) translateY(-250px);
}

.wave-2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.wave-2 .shape-fill {
    fill: #144534;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave-2 svg {
        width: calc(100% + 1.3px);
        height: 173px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave-2 svg {
        width: calc(100% + 1.3px);
        height: 80px;
    }
}

.perkenalan{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: var(--green5);
}
 
.perkenalan .deskripsi{
    max-width: 800px;
}
.perkenalan .slider-container{
    height: 100%;
    width: 80%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    border-radius: 5%;
}

.slide{
    transition: all 0.25s ease-in-out;
    width: 100%;
}
.slide img{
    height: 100%;
}

.slider-wrapper{
    width: 35vw;
    height: 24vw;
    max-width: 600px;
    max-height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider--btn {
    position: absolute;

    background-color: var(--green2);
    color: var(--green3);
    font-size:2.5rem;

    height: 20%;
    aspect-ratio: 1/1;
    /* width: 5rem; */
    /* padding: 10px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slider--btn:last-child{
    
    right: 0;

}

.slider--btn:first-child{
    left: 0rem;

}


.wave-3 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-3 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.wave-3 .shape-fill {
    fill: #144534;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
    .wave-3 svg {
        width: calc(100% + 1.3px);
        height: 173px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave-3 svg {
        width: calc(123% + 1.3px);
        height: 63px;
    }
}



@media only screen and (max-width: 1023px) {
    .perkenalan-wrapper{
        position: relative;
        bottom: 12vh;
    }

    .perkenalan{
        flex-direction: column-reverse;
        padding: 100px 10vw;
        gap: 10vw;
    }

    .slider-wrapper{
        width: min(80vw,420px);
        height: min(54vw,280px);
    }
}


/*Karya*/
.karya{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.karya-item {
    height: max(20vw,250px);
    max-height: 300px;
    width: max(25%, 350px);
    max-width: 400px;
    box-shadow: 4px 4px 10px var(--green4);
    border-radius: 40px;
    padding: 10px;
}

.karya-item img{
    width: 100%;
    border-radius: 35px;
}

.karya-item  h4{
    text-align: center;
    color: var(--green1);
    font-size: 1.25rem;
    margin-top: auto;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .karya .slider{
        width: 80%;
        height: 200px;
    }
    .karya-item{
        height: 70vw;
        width: 80%;
        
    }
}

/*Daftar*/
.daftar {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 50px;
}


/*Footer*/
footer{
    background-color: var(--green4);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer .medsos{
    display: flex;
    gap: 20px;
}